@mixin flex($aling: center, $justify: center, $direction: row, $gap: 3rem) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $justify;
  gap: $gap;
}
@mixin bx_bottom($color) {
  box-shadow: 0rem 0.5rem 0rem $color;
}

@mixin media-break($media: max-width, $break: 480px) {
  @media screen and ($media: $break) {
    @content;
  }
}
