@use "../abtract/mixin" as layout;
@use "../abtract/varibles" as colors_bg;
.main {
  width: 100%;
  min-height: 100vh;
  @include layout.flex($justify: space-between, $gap: 5rem);
  padding-inline: 12rem;
  &__information {
    flex: 50%;
  }
}
